# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor/IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
logs/
*.log

# Testing
coverage/

# Miscellaneous
.tmp/
temp/
